
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #c18181;
    line-height: 1.6;
}

header {
    background-color: #a80000;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

header .logo h1 {
    font-size: 50px;
}

header nav ul {
    list-style-type: none;
    margin-top: 10px;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
}

main {
    padding: 20px;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
}

.product-item {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    padding: 15px;
    text-align: center;
    width: 400px;
}

.product-item img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.product-item h3 {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.product-item p {
    font-size: 1rem;
    margin-bottom: 15px;
}

.product-item button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 20px;
    width: 75px;
    cursor: pointer;
    font-size: 1rem;
}

.product-item button:hover {
    background-color: #218838;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    margin-top: 30px;
}

footer p {
    font-size: 15px;
}

.suntqva{
    border: 2px solid;
    border-radius: 20px;
}

.home:hover{
    color: black
}

.bj{
    border-radius: 10%;
}

.i{
    color:white;
}

.img{
    border-radius: 25px;
}

.i{
    text-decoration: none;
}

.igi{
    width: 40px;
    height: 40px;
    border: 2px solid;
    border-radius: 50%;
    background-color: #ffffff;
    display: flex;
    flex-direction:column;
    text-align: center;
    justify-content: center;
    margin-left:100px;
    color: #a80000;
}

.igi{
    text-decoration:underline;
}

.di{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.img1{
    width: 700px;
    height: 600px;
    border: 2px solid;
    border-radius: 25px;
}

.remove{
    margin-right:1500px ;
    margin-top: px;
}